$color-bg: black;
$color-font:black;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: $color-font;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-bg;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
     
    background-color: $color-bg;
}

.card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
}

img {
    width: 100%;
}

h1, h2 {
    color: green;
    padding: 2rem;
    text-align: center;
}

button {
    padding: 25px 45px 25px 45px;
}